@model FinalMath.Models.PATIENT_INFO

@if (Session["Admin"] != null)
{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDirector.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Patient_Info</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Patient_Info</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Details</h2>
                    </div>
                    <div class="card-body">


                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.REGISTRATION_NO)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.REGISTRATION_NO)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NAME)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NAME)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FATHER_NAME)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FATHER_NAME)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DATE_OF_BIRTH)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DATE_OF_BIRTH)
                            </dd>

                            <dt>
                                DATE_OF_ADMISSION
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DATE_OF_ADDMISSION)
                            </dd>

                            <dt>
                                STAY MONTHS
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MONTH)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CONTACT)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CONTACT)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CATEGORY)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CATEGORY)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AGE)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AGE)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CITY)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CITY)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ADDRESS)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ADDRESS)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.RELIGION)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.RELIGION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CHRONIC_MEDICAL_PROBLEM)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CHRONIC_MEDICAL_PROBLEM)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CMP_SPECIFY)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CMP_SPECIFY)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.REGULARLY_TAKING_OR_SHOULD_BE_TAKING_PRESCRIBED_MEDICATION)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.REGULARLY_TAKING_OR_SHOULD_BE_TAKING_PRESCRIBED_MEDICATION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EDUCATION)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EDUCATION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.OCCUPATION)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.OCCUPATION)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DRUG_TYPE)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DRUG_TYPE)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.R_O_A)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.R_O_A)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.REASON_FOR_SUBSTANCE_USE)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.REASON_FOR_SUBSTANCE_USE)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.HOW_MANY_TIMES_BEFORE_TREATED_FOR_SUBSTANCE_USE)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.HOW_MANY_TIMES_BEFORE_TREATED_FOR_SUBSTANCE_USE)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.REASON_BEHIND_RELAPSE)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.REASON_BEHIND_RELAPSE)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.HAVING_EVER_BEEN_ARRESTED_AND_CHARGED_FOR_ANY_CRIME)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.HAVING_EVER_BEEN_ARRESTED_AND_CHARGED_FOR_ANY_CRIME)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.HC_SPECIFY)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.HC_SPECIFY)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MARITAL_STATUS)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MARITAL_STATUS)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LIVES_WITH_ANY_ONE_WHO_ABUSES_DRUGS_ALCOHAL)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LIVES_WITH_ANY_ONE_WHO_ABUSES_DRUGS_ALCOHAL)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LDA_SPECIFIER)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LDA_SPECIFIER)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.YOU_HAD_EXPERIENCED_SERIOUS_PROBLEM_WITH_YOUR_FAMILY_OTHER_SIGNIFICANT_FAMILY)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.YOU_HAD_EXPERIENCED_SERIOUS_PROBLEM_WITH_YOUR_FAMILY_OTHER_SIGNIFICANT_FAMILY)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SF_SPECIFY)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SF_SPECIFY)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.HAS_ANY_ONE_ABUSED_YOU)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.HAS_ANY_ONE_ABUSED_YOU)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EXPERIENCED_SERIOUS_DEPRESSION_MOOD_SWINGS_WHICH_INTERFARE_WITH_LIFE)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EXPERIENCED_SERIOUS_DEPRESSION_MOOD_SWINGS_WHICH_INTERFARE_WITH_LIFE)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EXPERIENCED_SERIOUS_ANXIOUSNESS_OR_TENSE_ANXIETY_OR_PANIC_ATTACKS)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EXPERIENCED_SERIOUS_ANXIOUSNESS_OR_TENSE_ANXIETY_OR_PANIC_ATTACKS)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EXPERIENCES_TROUBLE_CONCENTRATING_UNDERSTANDING_REMEMBERING_VISUAL_OR_AUDIO_HALLUCINATIONS)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EXPERIENCES_TROUBLE_CONCENTRATING_UNDERSTANDING_REMEMBERING_VISUAL_OR_AUDIO_HALLUCINATIONS)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TEMPER_OR_VIOLENT_BEHAVIOUR_CONTROL_PROBLEMS)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TEMPER_OR_VIOLENT_BEHAVIOUR_CONTROL_PROBLEMS)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PLAN_TO_HURT_OR_KILL_SOMEONE)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PLAN_TO_HURT_OR_KILL_SOMEONE)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SERIOUS_PLAN_FOR_KILLING_SELF)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SERIOUS_PLAN_FOR_KILLING_SELF)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SUCIDE_ATTEMPTS)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SUCIDE_ATTEMPTS)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.DATE_OF_DISCHARGE)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DATE_OF_DISCHARGE)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.IsActive)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USER.USER_NAME)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USER.USER_NAME)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.PATIENT_ID }, new { @class = "btn btn-sm btn-success" })

                        <a href="@Url.Action("Index", "PATIENT_INFO")" class="btn btn-sm btn-primary">Back to List</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
