@model IEnumerable<FinalMath.Models.USERTYPE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>User Type</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">UserType</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <p>
                            @Html.ActionLink("Add New +", "Create")
                        </p>
                    </div>

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.USER_TYPE)</th>
                                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.USER_TYPE)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.USERTYPE_ID }, new { @class = "btn btn-sm btn-primary" })
                                            @Html.ActionLink("Details", "Details", new { id = item.USERTYPE_ID }, new { @class = "btn btn-sm btn-success" })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.USERTYPE_ID }, new { @class = "btn btn-sm btn-danger" })
                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.USER_TYPE)</th>
                                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
